body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: normal;
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  font-weight: 600;
  padding: 10px 20px;
}

.navbar a {
  text-decoration: none;
  height: 100%;
  align-items: center;
  padding: 0.25rem;
  color: #fff
}

.logo img {
  width: 10%;
  align-items: center;
}

.menu-button {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #fff;
}

.nav-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
}

.content {
  padding: 20px;
}

@media screen and (max-width: 768px) {
  .menu-button {
      display: block;
  }

  .nav-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: 0;
      background-color: #333;
      width: 100%;
  }

  .nav-links.show {
      display: flex;
  }

  .nav-links li {
      margin: 10px 0;
  }
}
