h1 {
  font-family: 'Asap', sans-serif;
  font-size: 96px;
  font-weight: 700;
  line-height: 110px;
  letter-spacing: 0em;
  text-align: center; 
  }
h2 {
  font-family: 'Asap', sans-serif;
  font-size: 48px;
  text-align: center;
  font-weight: 400;
  }
span {
    font-family: 'Asap', sans-serif;
    font-size: 96px;
    font-weight: 700;
    line-height: 110px;
    letter-spacing: 0em;
    text-align: center; 
    }
.about-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #FFD000
}
.about-info{
  text-align: center;
}
hr {  
  width: 33%;  
  height: 5px;  
  background-color: #3C00FF;  
  margin-bottom: 7px;  
  margin-right: auto;  
  margin-left: auto;  
  margin-top: 9px;    
  }  
p {
  font-family: 'Asap', sans-serif;
  font-size: 160%;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0em;
  text-align: center;
  }
.footer-custom {
  color: white;
  background-color: #000000;
  z-index: 2;
  position: relative;
}
.address {
  text-align: left;
}
.no-margin {
  margin-right: 0;
  margin-left: 0;
}
@media (max-width: 768px) {
  .text-end {
    text-align: center !important;
  }
}
