@import "../utils/global.css";

.popup-wrapper {
    visibility: hidden;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 50;
    transition: opacity 0.5s ease-in;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100vh;
}

.popup-menu {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 250px;
    max-height: 25vh;
    width: 400px;
    max-width: 50vw;
    padding: 20px 30px;
    border-radius: 5px;
    /* background-color: ; */
    background-color: white;
}

.popup-title {
    font-size: 1.5rem;
    /* font-color */
}

.popup-subtitle {
    font-size: 1.25rem;
    /* font-color */
}

.popup-button {
    font-size: 1rem;
    font-weight: bold;
    margin: 5px auto;
    padding: 10px 20px;
    border-radius: 2.5px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
    cursor: pointer;
    transition: background-color 0.25s ease-in-out;
    /* background-color: ; */
    background-color: lightblue;
    /* color:  */
}

.popup-button:hover {
    background-color: rgb(0, 0, 255, 0.6);
}

.popup-exit-button {
    position: absolute;
    display: grid;
    place-items: center;
    right: 10px;
    top: 10px;
    height: 27px;
    width: 27px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    transition: background-color 0.25s ease-in-out;
    background-color: white;
}

.popup-exit-button:hover {
    background-color: rgba(0, 0, 0, 0.3);
}